.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 300px;
  height: 70%;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #00ff7f;
  outline: 1px solid #2b9962;
  border-radius: 30px;
}

.form-body {
  position: absolute;
  top: 45%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}
