#form-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/loginposter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#form {
  width: 300px;
  height: 70%;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #00ff7f;
  outline: 1px solid #2b9962;
  border-radius: 30px;
}

#form-body {
  position: absolute;
  top: 45%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #00ff7f;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 50px;
  position: relative;
  top: -20px;
}

#input-area {
  margin-top: 20px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00ff7f;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #00ff7f;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #00ff7f;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  padding: 14px 13px 12px 13px;
  border: none;
  outline: 1px solid #00ff7f;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#submit-button:hover {
  transition: all ease-in-out 0.3s;
  background-color: #00ff7f;
  color: #161616;
  cursor: pointer;
}

.button3 {
  display: block;
  width: 60%;
  color: #00ff7f;
  background-color: transparent;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 45px;
  padding: 9px 8px 7px 8px;
  border: none;
  outline: 1px solid #00ff7f;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.button3:hover {
  transition: all ease-in-out 0.3s;
  background-color: #00ff7f;
  color: #161616;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
  color: #00ff7f;
}

#forgot-pass a {
  color: #00ff7f;
  font-size: 15px;
  text-decoration: none;
}

#bar {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 28px;
  height: 8px;
  margin-left: -33px;
  background-color: #00ff7f;
  border-radius: 10px;
}

#bar:before,
#bar:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ececec;
  border-radius: 50%;
}

#bar:before {
  right: -20px;
}

#bar:after {
  right: -38px;
}
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #ef665b;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  transform: translateX(20px);
  transform: translatey(-700px);
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}
